<!doctype html>
<html lang="en"
      xmlns:th="http://www.w3.org/1999/xhtml"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="fragments/fragments.html :: fragment-header"></head>
<body class="bg-light">
    <div th:replace="fragments/fragments.html :: main-navigation"></div>
    <div class="container mt-5">
        <div class="row">
            <div class="col-sm-2">
                <div class="jumbotron">hi</div>
            </div>
            <div class="col-sm-8">
                <div class="jumbotron">메인 화면 입니다.</div>
            </div>
        </div>
    </div>
    <div th:replace="fragments/fragments.html :: fragment-footer"></div>
</body>
</html>